<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>::Home ::</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <table border="1">
        <tr>
            <td>Description am</td>
            <td>Description en</td>
            <td>Description ru</td>
            <td>Action</td>
        </tr>
        <tr th:each="cat : ${categories}">
            <td th:each="language : ${cat.languages}">
                <span th:text="${language.text}"></span>
            </td>
            <td>
                <a th:href="@{/category/delete/} + ${cat.id}">Delete category</a>
                <a th:href="@{/subCategory/} + ${cat.id}">View sub category</a>
                <a th:href="@{/level/} + ${cat.id}">Level view</a>
            </td>
        </tr>
    </table>
    <form action="#" th:action="category" th:object="${categoryForm}" method="post">
        <table>
            <tr>
                <td>
                    <label for="languageAm">Language am</label>
                </td>
                <td>
                    <input type="text" th:field="*{languages[0].text}" id="languageAm"/>
                    <input type="hidden" name="languages[0].language" value="am"/>
                </td>
                <td th:if="${#fields.hasErrors('languages[0].text')}" th:errors="*{languages[0].text}">
                    Language am required
                </td>
            </tr>
            <tr>
                <td>
                    <label for="languageEn">Language En</label>
                </td>
                <td>
                    <input type="text" th:field="*{languages[1].text}" id="languageEn"/>
                    <input type="hidden" name="languages[1].language" value="en"/>
                </td>
                <td th:if="${#fields.hasErrors('languages[1].text')}" th:errors="*{languages[1].text}">
                    Language en required
                </td>
            </tr>
            <tr>
                <td>
                    <label for="languageRu">Language Ru</label>
                </td>
                <td>
                    <input type="text" th:field="*{languages[2].text}" id="languageRu"/>
                    <input type="hidden" name="languages[2].language" value="ru"/>
                </td>
                <td th:if="${#fields.hasErrors('languages[2].text')}" th:errors="*{languages[2].text}">
                    Language ru required
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-primary"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>