<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>::Login::</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div>
    <form action="#" th:action="@{login}" th:object="${loginForm}" method="post">
        <table border="1">
            <tr>
                <td>
                    <label for="login">Login</label>
                </td>
                <td>
                    <input type="text" th:field="*{login}" id="login"/>
                </td>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
                    Login required
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" th:field="*{password}" id="password"/>
                </td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Login required
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>