<html ng-app>
<head>
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/hello.js"></script>
</head>
<body>
    <div ng-controller="article">
        <table border="1">
            <tr>
                <td>Title</td>
                <td>Comment</td>
                <td>Action</td>
            </tr>
            <tr ng-repeat="article in articles">
                <td>{{article.title}}</td>
                <td>{{article.comment}}</td>
                <td>
                    <span class="btn btn-danger" ng-click="deleteArticleSubmit(article.id)">
                        Delete
                    </span>
                </td>
            </tr>
        </table>
        <table border="1">
            <tr>
                <td>
                    Title
                </td>
                <td>
                    <input type="text" name="title" ng-model="title">
                </td>
            </tr>
            <tr>
                <td>
                    Comment
                </td>
                <td>
                    <textarea name="comment" ng-model="comment"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary" ng-click="addArticleSubmit()"></td>
            </tr>
        </table>
    </div>
</body>
</html>
